{% extends 'blog/index.html' %}

{% block content %}
<div class="col-xs-12" id="formperro">

        <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{ form.as_p}}  
                <button id="enviar" type="submit">Enviar</button>
            </form>       


        <!--w3 validator-->
        <!--caso2-->
        
        
    </div>

{% endblock %}