
<!DOCTYPE html>
<html>
{% load pwa %}
{% load staticfiles %}

<head>
    {% progressive_web_app_meta %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://i.icomoon.io/public/temp/c0620a4963/UntitledProject/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/flexboxgrid.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/css.css" />
    <script src="main.js"></script>
    <script>
        $(document).ready(function () {
            $('.slider').bxSlider();
        });
    </script>
    <script src="static/js/validarCampos.js"></script>
    <script src="static/js/script.js"></script>
</head>

<body>
   
    <div class="container-fluid">

        <header>
            <div class="row center-sm" id="top">
                
                <div class="col-xs-12 col-sm-3">
                    <div>{{request.user}}</div>
                    <IMG src="static/IMG/LOGO.PNG" alt="" class="logo">
                </div>

                <div class="col-xs-12 col-sm-9" id="menutop">
                    <nav>

                        <ul>

                            <li>
                                <a href="http://127.0.0.1:8000/login/">INGRESA</a>
                            </li>
                            <li>
                                <a href="http://127.0.0.1:8000/">INICIO</a>
                            </li>

                            <li>
                                <a href="http://127.0.0.1:8000/">QUIENES SOMOS</a>
                            </li>
                            <li>
                                <a href="#galeria2">SERVICIOS</a>
                            </li>
                            <li>
                                <a href="http://127.0.0.1:8000/nuevo">CONTACTANOS</a>
                            </li>
                            <li>
                                <a href="http://127.0.0.1:8000/user1">VER USERS CON API</a>
                            </li>

                            <li>
                                    {% load socialaccount %}


                                    <a class="btn btn-primary btn-block" href= {% url 'social:begin' 'google-oauth2' %}>
                                        Login con google
                                    </a>
                            </li>
                        </ul>
                    </nav>



                </div>

            </div>
            <div class="row" id="mid">

                <div class="imagenPerro">

                    <div class="slider">
                        <div>
                            <div class="textoperro">"Estamos felices de tener a tom en casa.es un super fiel compañero" </div>
                            <img src="static/img/adoptados/Tom.jpg" alt="">
                        </div>
                        <div>
                            <div class="textoperro">"Ahora que tengo a Duque tengo un fiel compañero de viaje"</div>
                            <img src="static/img/adoptados/Duque.jpg" alt="">

                        </div>
                        <div>
                            <div class="textoperro">"Desde que Apolo llego a casa todo es mas divertido"</div>
                            <img src="static/img/adoptados/Apolo.jpg" alt="">

                        </div>
                    </div>

                </div>

            </div>

            <div class="row end-xs" id="bottom">


                <div class="telefono col-sm-3">
                    <p>+56 9 987654321</p>
                </div>
                <div class="frase col-sm-6 center-sm">
                    <p>Recate y adopcion de perros callejeros</p>
                </div>

                <div class="redes col-xs-12 col-sm-3">
                    <nav class="links">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/Mis-Perris-231483944378539/">
                                    <span>
                                        <i class="sociales icon-facebook"></i>
                                    </span>
                                </a>
                                <a href="https://www.gmail.com/">
                                    <span>
                                        <i class="sociales icon-google-plus"></i>

                                    </span>
                                </a>
                                <a href="https://www.instagram.com/">
                                    <span>
                                        <i class="sociales icon-instagram"></i>
                                    </span>

                                </a>
                                <a href="https://www.hotmail.com/">
                                    <span>
                                        <i class="sociales icon-envelope"></i>
                                    </span>
                                    
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>


        </header>
        {% block content %}
        <div class="row" id="contenido">
                
            <div class="col-xs-12 col-sm-6" id="columna1">
                <div class="rescate">
                    <h1>RESCATE</h1>
                    <h3>ETAPA UNO</h3>
                    <br>
                    <hr>
                </div>

                <div class="texto">
                    <p>Rescatamos perros en situacion de peligro y/o abandono. Los rehabilitamos y los </p>
                    <p>preparamos para buscarles un hogar.</p>

                </div>
                <div class="contenedorperro">
                    <img class="rescate2" src="static/img/rescate.jpg" alt="">
                </div>


            </div>
            <div class="col-xs-12 col-sm-6" id="columna2">

                <div class="IMAGENCOL2">
                    <img src="static/img/crowfunding.jpg" alt="">

                    <h1>CROWFUNDING</h1>
                    <h3>FINANCIAMIENTO</h3>
                    <br>
                    <hr>
                </div>


                <div class="texto">
                    <br>
                    <p>sigue nuestras redes sociales para informarte acerca de las diversas campañas y</p>
                    <p>actividades que realizamos para obtener financiamiento para seguir ayudando.</p>
                    <br>
                </div>

                <div class="boton">

                    <h1>CAMPAÑAS</h1>
                </div>
              
            </div>
           
        
            <div class="col-xs-12" id="galeria2">
                
                   
                <ul class="galeria1">
                    
                        <h1>Galeria de imagenes</h1>
                        <hr>
                        <br>
                        <button><a  href="http://127.0.0.1:8000/nuevo_perro"><h2>Agregar Perro</h2></a></button>
                        <br>
                        <label>
                            <h2>Filtrar por:</h2>
                        </label>
                        <br>
                        <select name="Perros" onchange="location = this.value">
                            <option selected="true" disabled="disabled">seleccione filtro</option>
                            <option value="http://127.0.0.1:8000/listarp">Todos</option>
                            <option value="http://127.0.0.1:8000/listar_res">Rescatados</option>
                            <option value="http://127.0.0.1:8000/listar_adop">Adoptados</option>
                            <option value="http://127.0.0.1:8000/listar_disp">Disponibles</option>
                        </select>
                </ul>        
                        
            </div>
            
            {% endblock %}
            <div class="col-xs-12" id="footer">

                <p>Desarrollo web y movile</p>
            </div>


       


    </div>
    
</body>

</html>