{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
</head>
<body>
    
<div class="col-xs-12" id="cabeza1">
<div class="col-xs-12" id="contenedor-formulario">
    <h1>Log in</h1>
    <br>
    <form class="site-form" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Login">
   
</form>
<br>
</div>

</body>
</html>