
{% block content %}

    <div class="col-xs-12">
    <form method="post">
        {% csrf_token %}
        <h3>¿Desea Eliminar el registro de {{ perro.nombre }} ?</h3>
        <button class="btm btn-danger" type="submit">Si , Eliminar</button>
        <a class="btm btn-default" href="{% url 'perris' %}">Cancelar</a>
    </form>

    </div>
{% endblock %}