{% extends 'blog/index.html' %} {% block content %}

<ul class="galeria1">
            <h1>Rescatados</h1>
            <hr>
            <button><a  href="http://127.0.0.1:8000/nuevo_perro"><h2>Agregar Perro</h2></a></button>
            <br>
            <label>
                <h2>Filtrar por:</h2>
            </label>
            <br>
            <select name="Perros" onchange="location = this.value">
                <option selected="true" disabled="disabled">seleccione filtro</option>
                <option value="http://127.0.0.1:8000/listarp">Todos</option>
                <option value="http://127.0.0.1:8000/listar_res">Rescatados</option>
                <option value="http://127.0.0.1:8000/listar_adop">Adoptados</option>
                <option value="http://127.0.0.1:8000/listar_disp">Disponibles</option>
            </select>

            {% for perro in posts %} {% if perro.estado == "rescatado" %}

            <div class="galeria1">
                <br>
                <p>nombre: {{ perro.nombre}}</p>
                <br>
                <p>raza: {{ perro.raza}}</p>
                <br>
                <p>Descripcion: {{ perro.descripcion }} </p>
                <br>
                <img src="{{ perro.foto.url }}">
                <br>
                <p>{{ post.text|linebreaksbr }}</p>
                <br>
                <a class="btn btn-primary" href="{% url 'post_edit' perro.id %}">Editar</a>
        <a class="btn btn-primary" href="{% url 'post_delete' perro.id %}">Eliminar</a>
            </div>
            {% endif %} {% endfor %}
            <br>
        </div>
</ul>

{% endblock %}